<div ng-controller="filesController">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-2 side">
        <side-navigation></side-navigation>
      </div>
      <div class="col-md-10 col-md-offset-2 main">
        <app-navbar></app-navbar>
        <div class="files-header">
          <h1 class="text-info">All Of My Files</h1>
        </div>
        <div class="content-main">
          <usage></usage>
          <uploader></uploader>
          <div class="text-info" ng-show="loading"> 
            <h2>Loading...</h2>
          </div>
          <div ng-repeat="file in files" class="file-row">
            <a ng-href="{{ cloud.getDownloadUrl(file.parentPath + '/' + file.name) }}" class="text-info">
              <i class="material-icons">insert_drive_file</i>
              {{file.name}}
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
